In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Codin Dojo/sales_predictions_2023 (1).csv')

In [3]:
#1) ¿Cuántas filas y columnas hay?
#hay 8523 filas y 12 columnas
df.shape

(8523, 12)

In [5]:
#2) ¿Cuáles son los tipos de datos de cada variable?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [7]:
#3) ¿Hay duplicados? Si es el caso, elimínelos.
#no hay valores duplicados
duplicados=df.duplicated().sum()
print (duplicados)

0

In [8]:
#4) Identifique los valores faltantes.

df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [10]:
#5) Decida qué hacer con los valores faltantes y cómo hacerlo. (Esto requiere de su criterio, así que explique cada elección).
#En este caso se toma la desición de rellenar con la moda. porque es el número que más se repite.
df.Item_Weight.value_counts()
df.Outlet_Size.value_counts()

Outlet_Size
Medium    2793
Small     2388
High       932
Name: count, dtype: int64

In [13]:
# Primero Calculo la moda de la columna 'Item_Weight'
moda_peso_item = df['Item_Weight'].mode()[0]

# Luego Relleno los valores faltantes en la columna 'Item_Weight' con la moda
df['Item_Weight'] = df['Item_Weight'].fillna(moda_peso_item)

print(df['Item_Weight'])

0        9.300
1        5.920
2       17.500
3       19.200
4        8.930
         ...
8518     6.865
8519     8.380
8520    10.600
8521     7.210
8522    14.800
Name: Item_Weight, Length: 8523, dtype: float64

In [14]:
#Con la segunda tabla hago lo mismo
# Primero Calculo la moda de la columna 'Item_Weight'
moda_peso_item = df['Outlet_Size'].mode()[0]

# Luego Relleno los valores faltantes en la columna 'Item_Weight' con la moda
df['Outlet_Size'] = df['Outlet_Size'].fillna(moda_peso_item)

print(df['Outlet_Size'])

0       Medium
1       Medium
2       Medium
3       Medium
4         High
         ...
8518      High
8519    Medium
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object

In [15]:
#6) Confirme que no hay valores faltantes después de tratarlos.
#Todo ok.
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [23]:
#7) Encuentre y arregle cualquier categoría inconsistente en los datos (ejemplo: arreglar los datos gato,
# Gato y Gatos de manera que sean consistentes)
#print(df['Item_Identifier'].unique())
#conteo_categorias = df['Item_Identifier'].value_counts()
#print(conteo_categorias)

agrupado_por_categoria = df.groupby('Outlet_Type').size()
print(agrupado_por_categoria)

Outlet_Type
Grocery Store        1083
Supermarket Type1    5577
Supermarket Type2     928
Supermarket Type3     935
dtype: int64

In [30]:
#8) Para cualquier columna numérica, obtenga las estadísticas resumidas de cada una (mínimo, máximo y media)
estadisticas = df['Item_Weight'].describe()
print(estadisticas)

count    8523.000000
mean       12.736176
std         4.234540
min         4.555000
25%         9.310000
50%        12.150000
75%        16.000000
max        21.350000
Name: Item_Weight, dtype: float64

In [25]:
estadisticas = df['Item_Visibility'].describe()
print(estadisticas)

count    8523.000000
mean        0.066132
std         0.051598
min         0.000000
25%         0.026989
50%         0.053931
75%         0.094585
max         0.328391
Name: Item_Visibility, dtype: float64

In [26]:
estadisticas = df['Item_MRP'].describe()
print(estadisticas)

count    8523.000000
mean      140.992782
std        62.275067
min        31.290000
25%        93.826500
50%       143.012800
75%       185.643700
max       266.888400
Name: Item_MRP, dtype: float64

In [27]:
estadisticas = df['Outlet_Establishment_Year'].describe()
print(estadisticas)

count    8523.000000
mean     1997.831867
std         8.371760
min      1985.000000
25%      1987.000000
50%      1999.000000
75%      2004.000000
max      2009.000000
Name: Outlet_Establishment_Year, dtype: float64

In [28]:
estadisticas = df['Outlet_Establishment_Year'].describe()
print(estadisticas)

count    8523.000000
mean     1997.831867
std         8.371760
min      1985.000000
25%      1987.000000
50%      1999.000000
75%      2004.000000
max      2009.000000
Name: Outlet_Establishment_Year, dtype: float64

In [29]:
estadisticas = df['Item_Outlet_Sales'].describe()
print(estadisticas)

count     8523.000000
mean      2181.288914
std       1706.499616
min         33.290000
25%        834.247400
50%       1794.331000
75%       3101.296400
max      13086.964800
Name: Item_Outlet_Sales, dtype: float64